@charset "utf-8";
*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box; /*百分比不算边框*/
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial;
    background: #eee;
    font-weight: normal;
    font-size: 16px;
}
img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;/*图片剧中*/
}
a {
    text-decoration: none;
}