@font-face {font-family: "iconfont";
src: url('iconfont/iconfont.eot'); /* IE9*/
src: url('iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
url('iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
url('iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
font-family:"iconfont" !important;
font-size:16px;
font-style:normal;
-webkit-font-smoothing: antialiased;
-webkit-text-stroke-width: 0.2px;
-moz-osx-font-smoothing: grayscale;
}
.icon-flash:before {
    content: "\e900";
}
.icon-sel:before {
    content: "\e901";
}
.icon-add:before {
    content: "\e902";
}
.icon-minus:before {
    content: "\e903";
}
.icon-refine:before {
    content: "\e904";
}
.icon-up:before {
    content: "\e905";
}
.icon-down:before {
    content: "\e906";
}
.icon-minwifi:before {
    content: "\e907";
}
.icon-waitreceive:before {
    content: "\e973";
}
.icon-waitpick:before {
    content: "\e974";
}
.icon-waitpay:before {
    content: "\e975";
}
.icon-waitassess:before {
    content: "\e976";
}
.icon-newsecondcode:before {
    content: "\e977";
}
.icon-information:before {
    content: "\e978";
}
.icon-minfulltip:before {
    content: "\e964";
}
.icon-mintip:before {
    content: "\e965";
}
.icon-fav:before {
    content: "\e966";
}
.icon-vipservice:before {
    content: "\e967";
}
.icon-vipline:before {
    content: "\e968";
}
.icon-vipdate:before {
    content: "\e969";
}
.icon-vipcoffee:before {
    content: "\e96a";
}
.icon-quickpay:before {
    content: "\e96b";
}
.icon-owndis:before {
    content: "\e96c";
}
.icon-norainanxiety:before {
    content: "\e96d";
}
.icon-newexp:before {
    content: "\e96e";
}
.icon-intershare:before {
    content: "\e96f";
}
.icon-freetrans:before {
    content: "\e970";
}
.icon-freepark:before {
    content: "\e971";
}
.icon-birthdaypre:before {
    content: "\e972";
}
.icon-rmb:before {
    content: "\e908";
}
.icon-cargo:before {
    content: "\e909";
}
.icon-deliver:before {
    content: "\e90a";
}
.icon-comment:before {
    content: "\e90b";
}
.icon-refund:before {
    content: "\e90c";
}
.icon-messge:before {
    content: "\e90d";
}
.icon-scan:before {
    content: "\e90e";
}
.icon-flow:before {
    content: "\e90f";
}
.icon-list:before {
    content: "\e910";
}
.icon-shipit:before {
    content: "\e911";
}
.icon-pickup:before {
    content: "\e912";
}
.icon-setting:before {
    content: "\e913";
}
.icon-logout:before {
    content: "\e914";
}
.icon-label:before {
    content: "\e915";
}
.icon-idea:before {
    content: "\e916";
}
.icon-warn:before {
    content: "\e917";
}
.icon-close:before {
    content: "\e918";
}
.icon-search:before {
    content: "\e919";
}
.icon-minabout:before {
    content: "\e91a";
}
.icon-mincard:before {
    content: "\e91b";
}
.icon-mincode:before {
    content: "\e91c";
}
.icon-minfav:before {
    content: "\e91d";
}
.icon-minhelp:before {
    content: "\e91e";
}
.icon-minindex:before {
    content: "\e91f";
}
.icon-minorder:before {
    content: "\e920";
}
.icon-minscore:before {
    content: "\e921";
}
.icon-mintag:before {
    content: "\e922";
}
.icon-minticket:before {
    content: "\e923";
}
.icon-mintime:before {
    content: "\e924";
}
.icon-minvip:before {
    content: "\e925";
}
.icon-mingood:before {
    content: "\e926";
}
.icon-minbad:before {
    content: "\e927";
}
.icon-minelectric:before {
    content: "\e928";
}
.icon-minfire:before {
    content: "\e929";
}
.icon-minfood:before {
    content: "\e92a";
}
.icon-miniphone:before {
    content: "\e92b";
}
.icon-minmovie:before {
    content: "\e92c";
}
.icon-minshark:before {
    content: "\e92d";
}
.icon-mintopup:before {
    content: "\e92e";
}
.icon-minwater:before {
    content: "\e92f";
}
.icon-enter:before {
    content: "\e930";
}
.icon-fullstar:before {
    content: "\e931";
}
.icon-star:before {
    content: "\e932";
}
.icon-gps:before {
    content: "\e933";
}
.icon-select:before {
    content: "\e934";
}
.icon-selected:before {
    content: "\e935";
}
.icon-top:before {
    content: "\e936";
}
.icon-enterinto:before {
    content: "\e937";
}
.icon-username:before {
    content: "\e938";
}
.icon-password:before {
    content: "\e939";
}
.icon-follow:before {
    content: "\e93a";
}
.icon-email:before {
    content: "\e93b";
}
.icon-address:before {
    content: "\e93c";
}
.icon-moreapp:before {
    content: "\e93d";
}
.icon-pay:before {
    content: "\e93e";
}
.icon-allorder:before {
    content: "\e93f";
}
.icon-minchest:before {
    content: "\e940";
}
.icon-minscore2:before {
    content: "\e941";
}
.icon-minstore:before {
    content: "\e942";
}
.icon-minbasket:before {
    content: "\e943";
}
.icon-minwallet:before {
    content: "\e944";
}
.icon-more:before {
    content: "\e945";
}
.icon-heart:before {
    content: "\e946";
}
.icon-fullheart:before {
    content: "\e947";
}
.icon-date:before {
    content: "\e948";
}
.icon-edit:before {
    content: "\e949";
}
.icon-share:before {
    content: "\e94a";
}
.icon-mingroup:before {
    content: "\e94b";
}
.icon-minonsale:before {
    content: "\e94c";
}
.icon-minsales:before {
    content: "\e94d";
}
.icon-minqueuing:before {
    content: "\e94e";
}
.icon-minbook:before {
    content: "\e94f";
}
.icon-minboxrice:before {
    content: "\e950";
}
.icon-minstop:before {
    content: "\e951";
}
.icon-mininfo:before {
    content: "\e952";
}
.icon-mintelep:before {
    content: "\e953";
}
.icon-minaddre:before {
    content: "\e954";
}
.icon-minnav:before {
    content: "\e955";
}
.icon-minchat:before {
    content: "\e956";
}
.icon-else:before {
    content: "\e957";
}
.icon-minforum:before {
    content: "\e958";
}
.icon-index:before {
    content: "\e959";
}
.icon-indexed:before {
    content: "\e95a";
}
.icon-sort:before {
    content: "\e95b";
}
.icon-sorted:before {
    content: "\e95c";
}
.icon-find:before {
    content: "\e95d";
}
.icon-finded:before {
    content: "\e95e";
}
.icon-carted:before {
    content: "\e95f";
}
.icon-user:before {
    content: "\e960";
}
.icon-usered:before {
    content: "\e961";
}
.icon-back:before {
    content: "\e962";
}
.icon-cart:before {
    content: "\e963";
}
