<div class="login-logo"><a href=""><img src="{{domain}}logo.png" height="100%"></a></div>
<div class="login-content">
    <form role="form" name="loginForm" id="loginForm" ng-submit="login(loginForm.$valid)" class="form-signin" novalidate>
        <div class="item">
            <i class="iconfont icon-zhanghu"></i>
            <div class="p-input">
                <input ng-bind="form.userName" type="email" id="userName" name="userName" ng-model="form.userName" placeholder="用户名/手机/邮箱" required autofocus>
            </div>
        </div>
        <div class="item">
            <i class="iconfont icon-mima"></i>
            <div class="p-input">
                <input ng-bind="form.password" type="password" id="password" name="password" ng-model="form.password" placeholder="请输入密码">
            </div>
        </div>
        <div class="selected">
            <label><input type="checkbox" ng-model="form.isRemember"> <span>记住我</span></label>
        </div>
        <div class="tips" role="alert" ng-show="loginForm.userName.$invalid">
            <span ng-show="loginForm.userName.$dirty && loginForm.userName.$error.required"><span>请输入邮箱</span></span>
            <span ng-show="loginForm.userName.$dirty && loginForm.userName.$error.email"><span>邮箱格式不正确</span></span>
        </div>
        <div class="tips" role="alert" ng-show="loginInfo.loginerror">
            <strong>Warning! </strong><span ng-bind="loginInfo.loginerroinfo"></span>
        </div>
    </form>
    <button type="button" class="login-button" ng-click="login(loginForm.$valid)">登 录</button>
    <div class="pass-text">
        <div class="pass-text-fl"><a href="#">忘记密码？</a></div>
        <div class="pass-text-fr"><a href="/#/register">免费注册</a></div>
    </div>
</div>
